{% extends '@BlogPlugin/base.html.twig' %}

{% block title 'Home page' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        Hello, World. I'm MicroPHP Blog!
    </div>
</div>
{% endblock %}
